{% extends 'base.html' %}
{% block title %}Edit Student{% endblock title %}
{% block body %}
<style>
/* Darken the form boxes */
form {
    background-color: #343a40; /* Dark background color */
    color: #fff; /* Light text color */
    padding: 20px; /* Add padding for better readability */
}

/* Darken the section topics */
h3 {
    background-color: #212529; /* Dark background color */
    color: #fff; /* Light text color */
    padding: 10px; /* Add padding for better appearance */
    margin-top: 30px; /* Add margin for better separation */
    margin-bottom: 20px; /* Add margin for better separation */
}
.form-section{
    text-align : center;
}


</style>
<main class="container py-4">
    <h2>Edit The Student</h2>
    <form method="POST">
        {% csrf_token %}
        <h3>Forms</h3>
        <div class="form-section">
            <img src="../media/uploads/form_pic/{{ student.form_name }}_1.jpg" alt="Student Photo" class="img-fluid rounded mb-3" style="height:600px;width:500px;" onerror="this.style.display='none';">
            <img src="../media/uploads/form_pic/{{ student.form_name }}_2.jpg" alt="Student Photo" class="img-fluid rounded mb-3" style="height:600px;width:500px;" onerror="this.style.display='none';">
        </div>
        <h3>General Information</h3>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" name="first_name" value="{{ student.first_name }}" required>
            </div>
            <div class="form-group col-md-4">
                <label for="middleName">Middle Name</label>
                <input type="text" class="form-control" id="middleName" name="middle_name" value="{{ student.middle_name }}">
            </div>
            <div class="form-group col-md-4">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" name="last_name" value="{{ student.last_name }}" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ student.email }}" required>
            </div>
            <div class="form-group col-md-6">
                <label for="phoneNumber">Phone Number</label>
                <input type="text" class="form-control" id="phoneNumber" name="phone_number" value="{{ student.phone_number }}" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="dob">Date of Birth</label>
                <input type="text" class="form-control" id="dob" name="date_of_birth" value="{{ student.date_of_birth }}" required>
            </div>
            <div class="form-group col-md-6">
                <label for="gender">Gender</label>
                <select class="form-control" id="gender" name="gender" required>
                    <option value="male" {% if student.gender == 'male' %} selected {% endif %}>Male</option>
                    <option value="female" {% if student.gender == 'female' %} selected {% endif %}>Female</option>
                    <option value="other" {% if student.gender == 'other' %} selected {% endif %}>Other</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="citizenshipNumber">Citizenship Number</label>
            <input type="text" class="form-control" id="citizenshipNumber" name="citizenship_number" value="{{ student.citizenship_number }}" required>
        </div>
        <h3>Course for Enrollment</h3>
        <div class="form-group">
            <label for="course">Select Course</label>
            <select class="form-control" id="course" name="course" required>
                <option value="BSc Computer Science" {% if student.course == 'BSc Computer Science' %} selected {% endif %}>BSc Computer Science</option>
                <option value="BBA/BBS" {% if student.course == 'BBA/BBS' %} selected {% endif %}>BBA/BBS</option>
                <option value="IMBA" {% if student.course == 'IMBA' %} selected {% endif %}>IMBA</option>
                <option value="Other" {% if student.course == 'Other' %} selected {% endif %}>Other</option>
            </select>
        </div>
        <h3>Guardian Information</h3>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="guardianFirstName">First Name</label>
                <input type="text" class="form-control" id="guardianFirstName" name="guardian_first_name" value="{{ student.guardian_first_name }}" required>
            </div>
            <div class="form-group col-md-4">
                <label for="guardianMiddleName">Middle Name</label>
                <input type="text" class="form-control" id="guardianMiddleName" name="guardian_middle_name" value="{{ student.guardian_middle_name }}">
            </div>
            <div class="form-group col-md-4">
                <label for="guardianLastName">Last Name</label>
                <input type="text" class="form-control" id="guardianLastName" name="guardian_last_name" value="{{ student.guardian_last_name }}" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="guardianPhoneNumber">Phone Number</label>
                <input type="text" class="form-control" id="guardianPhoneNumber" name="guardian_phone_number" value="{{ student.guardian_phone_number }}" required>
            </div>
            <div class="form-group col-md-6">
                <label for="relation">Relation to Student</label>
                <input type="text" class="form-control" id="relation" name="relation_to_student" value="{{ student.relation_to_student }}" required>
            </div>
        </div>
        <h3>Education Section - Secondary Level</h3>
        <div class="form-group">
            <label for="secondarySchoolName">School Name</label>
            <input type="text" class="form-control" id="secondarySchoolName" name="secondary_school_name" value="{{ student.secondary_school_name }}" required>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="secondaryYearCompletion">Year of Completion</label>
                <input type="text" class="form-control" id="secondaryYearCompletion" name="secondaryYearCompletion" value = "{{student.secondary_year_completion}}" required>
            </div>
            <div class="form-group col-md-4">
                <label for="secondaryCGPA">CGPA</label>
                <input type="text" class="form-control" id="secondaryCGPA" name="secondaryCGPA" value="{{student.secondary_cgpa}}" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="SecondaryDistrict">District</label>
                <input type="text" class="form-control" id="SecondaryDistrict" name="SecondaryDistrict" value="{{student.secondary_district}}"required>
            </div>
            <div class="form-group col-md-4">
                <label for="SecondaryMunicipality">Municipality</label>
                <input type="text" class="form-control" id="SecondaryMunicipality" name="SecondaryMunicipality" value="{{student.secondary_municipality}}" required>
            </div>
            <div class="form-group col-md-4">
                <label for="SecondaryWard">Ward No </label>
                <input type="text" class="form-control" id="SecondaryWard" name="SecondaryWard" value="{{student.secondary_wardno}}" required>
            </div>
        </div>
        <h3>Education Section - Higher Secondary Level</h3>
        <div class="form-group">
            <label for="higherSecondarySchoolName">School/College Name</label>
            <input type="text" class="form-control" id="higherSecondarySchoolName" name="higher_secondary_school_name" value="{{ student.higher_secondary_school_name }}" required>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="higherSecondaryYearCompletion">Year of Completion</label>
                <input type="text" class="form-control" id="higherSecondaryYearCompletion" name="higher_secondary_year_completion" value="{{ student.higher_secondary_year_completion }}" required>
            </div>
            <div class="form-group col-md-4">
                <label for="higherSecondaryCGPA">CGPA</label>
                <input type="text" class="form-control" id="higherSecondaryCGPA" name="higher_secondary_cgpa" value="{{ student.higher_secondary_cgpa }}" required>
            </div>
            <div class="form-group col-md-4">
                <label for="higherSecondaryfaculty">Faculty</label>
                <input type="text" class="form-control" id="higherSecondaryfaculty" name="higherSecondaryfaculty" value="{{ student.higher_secondary_faculty }}" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="higherSecondaryYearCompletion">District</label>
                <input type="text" class="form-control" id="higherSecondaryDistrict" name="higherSecondaryDistrict" value="{{student.higher_secondary_district}}"required>
            </div>
            <div class="form-group col-md-4">
                <label for="higherSecondaryCGPA">Municipality</label>
                <input type="text" class="form-control" id="higherSecondaryMunicipality" name="higherSecondaryMunicipality" value="{{student.higher_secondary_municipality}}" required>
            </div>
            <div class="form-group col-md-4">
                <label for="higherSecondaryDistrict">Ward No </label>
                <input type="text" class="form-control" id="higherSecondaryWard" name="higherSecondaryWard" value="{{student.higher_secondary_wardno}}" required>
            </div>
        </div>
        <h3>Permanent Address</h3>
        <div class="form-group">
            <label for="permanentProvince">Province</label>
            <input type="text" class="form-control" id="permanentProvince" name="permanent_province" value="{{ student.permanent_province }}" required>
        </div>
        <div class="form-group">
            <label for="permanentDistrict">District</label>
            <input type="text" class="form-control" id="permanentDistrict" name="permanent_district" value="{{ student.permanent_district }}" required>
        </div>
        <div class="form-group">
            <label for="permanentMunicipality">Municipality</label>
            <input type="text" class="form-control" id="permanentMunicipality" name="permanent_municipality" value="{{ student.permanent_municipality }}" required>
        </div>
        <div class="form-group">
            <label for="permanentWardNo">Ward No</label>
            <input type="text" class="form-control" id="permanentWardNo" name="permanent_ward_no" value="{{ student.permanent_ward_no }}" required>
        </div>
        <div class="form-group">
            <label for="permanenttole">Tole</label>
            <input type="text" class="form-control" id="permanenttole" name="permanenttole" value="{{student.permanent_tole}}" required>
        </div>
        <h3>Temporary Address</h3>
        <div class="form-group">
            <label for="temporaryProvince">Province</label>
            <input type="text" class="form-control" id="temporaryProvince" name="temporary_province" value="{{ student.temporary_province }}" required>
        </div>
        <div class="form-group">
            <label for="temporaryDistrict">District</label>
            <input type="text" class="form-control" id="temporaryDistrict" name="temporary_district" value="{{ student.temporary_district }}" required>
        </div>
        <div class="form-group">
            <label for="temporaryMunicipality">Municipality</label>
            <input type="text" class="form-control" id="temporaryMunicipality" name="temporary_municipality" value="{{ student.temporary_municipality }}" required>
        </div>
        <div class="form-group">
            <label for="temporaryWardNo">Ward No</label>
            <input type="text" class="form-control" id="temporaryWardNo" name="temporary_ward_no" value="{{ student.temporary_ward_no }}" required>
        </div>
        <div class="form-group">
            <label for="temporarytole">Tole</label>
            <input type="text" class="form-control" id="temporarytole" name="temporary_tole"  value="{{ student.temporary_tole }}" required>
        </div>
        <form method="post" action="/search">
            {% csrf_token %}
            <input type="hidden" name="update" value="{{ student.id }}">
            <button type="submit" class="btn btn-primary mx-2">Update</button>
            <a type="submit" class="btn btn-danger" href="/search">Cancel</a>
        </form>
    </form>
</main>
{% endblock body %}
