{%extends 'base.html' %}
{% block title %}Home Page{% endblock title %}
{% block body%}
<div class="container mt-5">
    <h1 class="mb-4">Welcome {{userInfo.first_name}}!! <br>To the Form Scanner!</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="imageUpload">Choose an image to upload:</label>
            <input type="file" class="form-control-file" id="imageUpload" name="imageUpload">
        </div>
        <button type="submit" class="btn btn-primary">Upload Image</button>
    </form>
    <h2 class="mt-5">Uploaded Forms</h2>
    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">Form ID</th>
                <th scope="col">Name</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Form 1</td>
                <td>
                    <a href = "/form"type="button" class="btn btn-primary btn-sm">Edit</a>
                    <a type="button" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Form 1</td>
                <td>
                    <button type="/form" class="btn btn-primary btn-sm">Edit</button>
                    <button type="button" class="btn btn-danger btn-sm">Delete</button>
                </td>
            </tr>
            <!-- Add more rows for additional forms -->
        </tbody>
    </table>
</div>
{% endblock body %}
