{%extends 'base.html' %}
{% block title %}Home Page{% endblock title %}
{% block body%}
<div class="container mt-5">
    <h1 class="mb-4">Welcome {{user.first_name}}!! <br>To the Form Scanner!</h1>
    <form action="/form" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <div class="form-group">
            <label for="imageUpload">Choose an image to upload:</label>
            <input type="file" class="form-control-file" id="imageUpload" name="imageUpload">
        </div>
        <button type="submit" class="btn btn-primary">Upload Image</button>
    </form>
    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">S.N.</th>
                <th scope="col">Form</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for form in forms %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>Form {{ form.id }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Form actions">
                        <!-- Edit button with icon -->
                        <form method="post" action="{% url 'editForm' %}">
                            {% csrf_token %}
                            <input type="hidden" name="edit" value="{{ form.id }}">
                            <button type="submit" class="btn btn-primary btn-sm">
                                <i class="bi bi-pencil-fill"></i> <!-- Bootstrap icon for edit -->
                            </button>
                        </form>  
            
                        <!-- Delete button with icon -->
                        <form method="post" action="{% url 'homePage' %}">
                            {% csrf_token %}
                            <input type="hidden" name="delete" value="{{ form.id }}">
                            <button type="submit" class="btn btn-danger btn-sm">
                                <i class="bi bi-trash-fill"></i> <!-- Bootstrap icon for delete -->
                            </button>
                        </form>
                    </div>   
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock body %}
