{% extends 'base.html' %}

{% block title %}Search Page{% endblock title %}

{% block body %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="mb-4">Search Students</h2>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search students..." aria-label="Search students" aria-describedby="button-search">
                <button class="btn btn-primary" type="button" id="button-search">Search</button>
            </div>
        </div>
    </div>
    <div class="row">
        {% if students%}
        {% for student in students %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ student.first_name }} {{ student.last_name }}</h5>
                    <p class="card-text"><strong>Email:</strong> {{ student.email }}</p>
                    <p class="card-text"><strong>Phone Number:</strong> {{ student.phone_number }}</p>
                    <form method="post" action="/details">
                      {% csrf_token %}
                      <input type="hidden" name="detail" value="{{ student.id }}">
                      <button type="submit" class="btn btn-primary mx-2">View Details</button>
                  </form>                   
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock body %}
